{% extends "admin.html" %}
{% block body %}
<style>
    .oll {
        margin-bottom: 20px;
    }

    /* Добавленные стили для кнопки */
    .delete-button {
        background-color: #dc3545; /* Красный цвет фона */
        color: #fff; /* Белый цвет текста */
        border: none; /* Убираем границу */
        padding: 5px 10px; /* Отступы внутри кнопки */
        border-radius: 5px; /* Скругляем углы */
        cursor: pointer; /* При наведении курсора меняем его на указатель */
        transition: background-color 0.3s ease; /* Плавное изменение цвета фона */
    }

    .delete-button:hover {
        background-color: #c82333; /* Изменяем цвет фона при наведении */
    }

    .print_user {
        display: flex;
        justify-content: space-between; /* Равномерно распределяем пространство между элементами */
        align-items: flex-start; /* Выравниваем элементы по верхнему краю */
        flex-wrap: wrap;
    }

    .container {
        margin: 10px;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        flex: 0 0 45%; /* Ширина блока 45%, чтобы поместилось два блока на больших экранах */
    }

    .print {
        text-align: left;
        padding: 10px;
        border: 2px solid #86c5da; /* Сине-голубая граница */
        border-radius: 8px;
    }

    .print:hover {
        border-color: #5bc0de; /* Темно-голубая граница при наведении */
    }

    .print h2 {
        margin: 5px 0;
        color: #000000; /* Сине-голубой цвет текста */
    }

    .print h2:first-child {
        margin-top: 0;
    }

    .print h2:last-child {
        margin-bottom: 0;
    }

    .settings-container {
        flex: 0 0 45%; /* Ширина блока 45% */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #f8f9fa;
    }

    .settings-container h2 {
        margin-top: 0;
    }
</style>
<div class="oll">
    <h1 align="center">Все заявки: </h1>
</div>
<div class="print_user">
    <div class="container">
{% for el in data %}
    <div class="card-deck mb-3 text-center">
        <div class="print">
            <h2>ID: {{ el.id }}</h2>
            <h2>coord_start: {{ el.coord_start }}</h2>
            <h2>coord_end: {{ el.coord_end }}</h2>
            <h2>date_of_start: {{ el.date_of_start }}</h2>
            <h2>date_of_end: {{ el.date_of_end }}</h2>
            <h2>Status:
                {% if el.status == "1" %}
                    Свободна
                {% elif el.status == "2" %}
                    Назначена
                {% elif el.status == "3" %}
                    В пути
                {% elif el.status == "4" %}
                    Выполнена
                {% endif %}
            </h2>
            <h2>weight: {{ el.weight }}</h2>
            <h2>car_now: {{ el.car_now }}</h2>
            <form method="post">
                <input type="hidden" name="id" value="{{ el.id }}">
                <button type="submit" class="delete-button">Удалить заявку</button>
            </form>
        </div>
    </div>
{% endfor %}
    </div>
    <div class="settings-container">
        <h2>Главные настройки:</h2>
        <ul>
            {% for setting in settings %}
                <li>Зарплата водителя (руб/км): {{ setting.driver_salary }}</li>
                <li>Стоимость проезда Платон (руб/км): {{ setting.platon_cost }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

