{% extends "main.html" %}

{% block body %}
<div class="container">
    <div class="form-block">
        <h2>Аналитика данных</h2>
        <form method="post" class="registration-form">
            <div class="form-group">
                <label for="number_of_road">Номер маршрута:</label>
                <input type="text" maxlength="14" id="number_of_road" name="number_of_road" required>
            </div>
            <div class="form-group">
                <label for="start-date">Дата начала рейса:</label>
                <input type="date" id="start-date" name="start-date" required>
            </div>
            <div class="form-group">
                <label for="end-date">Дата окончания рейса:</label>
                <input type="date" id="end-date" name="end-date" required>
            </div>
            <div class="form-group">
                <label for="route">Маршрут:</label>
                <div class="select-wrapper">
                    <select id="route" name="route" required>
                        <option value="" disabled selected>Выберите маршрут</option>
                        {% for route in routes %}
                            <option value="{{ route.id }}">{{ route.city_start }} - {{ route.city_end }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="cost">Стоимость поездки по автодору:</label>
                <input type="number" id="cost" name="cost" min="0" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="fuel_cost">Стоимость топлива:</label>
                <input type="number" id="fuel_cost" name="fuel_cost" min="0" step="0.01" required>
            </div>
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div class="useful-links">
        <h2>Полезные ссылки</h2>
        <ul>
            <li><a href="https://avtodor-tr.ru/" target="_blank"> Калькулятор Автодор</a></li>
            <li><a href="https://www.petrolplus.ru/fuelstations/" target="_blank">Petrol plus</a></li>
            <li><a href="https://www.azsgazprom.ru/azs-prices/" target="_blank">Стоимость топлива "Газпром"</a></li>
            <li><a href="https://dorogi.platon.ru/" target="_blank">Дороги "Платон"</a></li>
            <li><a href="https://platon.ru/ru/about/procedure-and-conditions/" target="_blank">Стоимость "Платон"</a></li>
            <li><a href="https://yandex.ru/pogoda" target="_blank">Погода</a></li>
        </ul>
    </div>
</div>

<style>
/* Стили для селектора */
.select-wrapper {
    position: relative;
}

.select-wrapper select {
    width: 100%;
    padding: 10px;
    border: 2px solid #3498db; /* Цвет рамки */
    border-radius: 5px;
    background-color: #f1f1f1; /* Светло-серый */
    font-size: 16px;
    -webkit-appearance: none; /* Убираем стандартные стили для WebKit браузеров */
    -moz-appearance: none; /* Убираем стандартные стили для Firefox */
    appearance: none; /* Убираем стандартные стили для других браузеров */
}

.select-wrapper::after {
    content: '\25BC'; /* Стрелка вниз */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #666; /* Цвет стрелки */
}

/* Дополнительные стили для элементов формы */
.container {
    max-width: 800px; /* Увеличим ширину контейнера */
    margin: 20px auto;
    padding: 20px;
    background-color: #ecf0f1; /* Светло-серый */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
    display: flex; /* Расположим блоки в строку */
}

.form-block {
    flex: 2; /* Дадим блоку формы больший вес */
    margin-right: 20px; /* Добавим отступ справа */
}

.useful-links {
    flex: 1; /* Дадим блоку с ссылками меньший вес */
    background-color: #fff; /* Белый фон блока с ссылками */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #3498db; /* Цвет заголовка */
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #34495e; /* Цвет текста метки */
}

input[type="date"],
input[type="text"],
input[type="number"],
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #2ecc71; /* Зеленый */
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #27ae60; /* Темно-зеленый при наведении */
}

.useful-links ul {
    list-style: none;
    padding: 0;
}

.useful-links ul li {
    margin-bottom: 10px;
}

.useful-links ul li a {
    color: #3498db; /* Цвет ссылки */
    text-decoration: none;
}

.useful-links ul li a:hover {
    text-decoration: underline;
}

/* Стили для кнопки "Перейти к аналитике" */
.analytics-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 15px;
    background-color: #3498db; /* Цвет фона кнопки */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.analytics-button:hover {
    background-color: #2980b9; /* Цвет фона кнопки при наведении */
}

</style>
<a href="/analytics" class="analytics-button">Перейти к аналитике</a>
{% endblock %}


