{% extends "main.html" %}

{% block body %}
<div class="container">
    <h2>Аналитика данных</h2>
    <form method="post" class="registration-form">
        <div class="form-group">
            <label for="number_of_road">Номер маршрута:</label>
            <input type="text" maxlength="14" id="number_of_road" name="number_of_road" required>
        </div>
        <div class="form-group">
            <label for="start-date">Дата начала рейса:</label>
            <input type="date" id="start-date" name="start-date" required>
        </div>
        <div class="form-group">
            <label for="end-date">Дата окончания рейса:</label>
            <input type="date" id="end-date" name="end-date" required>
        </div>
        <div class="form-group">
            <label for="route">Маршрут:</label>
            <div class="select-wrapper">
                <select id="route" name="route" required>
                    <option value="" disabled selected>Выберите маршрут</option>
                    {% for route in routes %}
                        <option value="{{ route.id }}">{{ route.city_start }} - {{ route.city_end }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="cost">Стоимость поездки по автодору:</label>
            <input type="number" id="cost" name="cost" min="0" required>
        </div>
        <div class="form-group">
            <label for="fuel_cost">Стоимость топлива:</label>
            <input type="number" id="fuel_cost" name="fuel_cost" min="0" required>
        </div>
        <button type="submit">Добавить</button>
    </form>
    <div class="analytics-btn">
        <a href="/analytics">Перейти к аналитике</a>
    </div>
</div>

<style>
/* Стили для селектора */
.select-wrapper {
    position: relative;
}

.select-wrapper select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    -webkit-appearance: none; /* Убираем стандартные стили для WebKit браузеров */
    -moz-appearance: none; /* Убираем стандартные стили для Firefox */
    appearance: none; /* Убираем стандартные стили для других браузеров */
}

.select-wrapper::after {
    content: '\25BC'; /* Стрелка вниз */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #666; /* Цвет стрелки */
}

/* Дополнительные стили для элементов формы */
.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #add8e6; /* Light Blue */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="date"],
input[type="text"],
input[type="number"],
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.analytics-btn {
    text-align: center;
}

.analytics-btn a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2196F3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.analytics-btn a:hover {
    background-color: #0d47a1;
}

</style>
{% endblock %}
