{% extends "main.html" %}

{% block head %}
<title>Archived Applications</title>
{% endblock %}

{% block body %}
    <h2>Archived Applications</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Start Coordinates</th>
                <th>End Coordinates</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Weight</th>
                <th>Current Car</th>
            </tr>
        </thead>
        <tbody>
            {% for app in archived_apps %}
                <tr>
                    <td>{{ app.id }}</td>
                    <td>{{ app.coord_start }}</td>
                    <td>{{ app.coord_end }}</td>
                    <td>{{ app.date_of_start }}</td>
                    <td>{{ app.date_of_end }}</td>
                    <td>{{ app.status }}</td>
                    <td>{{ app.weight }}</td>
                    <td>{{ app.car_now }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
