{% extends "main.html" %}

{% block head %}
<title>Аналитика</title>
{% endblock %}

{% block body %}

    <div class="gallery-container">
        {% for data_row in data_for_analytics %}
        <div class="form-card">
            <h2>Рейс № {{ data_row.id }}</h2>
            <p><strong>Дата начала поездки:</strong> {{ data_row.start_date }}</p>
            <p><strong>Дата завершения поездки:</strong> {{ data_row.end_date }}</p>
            <p><strong>Маршрут:</strong>
                {% for route in routes %}
                    {% if route.id == data_row.route_id %}
                        {{ route.city_start }} - {{ route.city_end }}
                    {% endif %}
                {% endfor %}
            </p>
            <p><strong>Стоимость по автодору:</strong> {{ data_row.cost }}</p>
            <p><strong>Стоимость топлива:</strong> {{ data_row.fuel_cost }}</p>

            <!-- Отображение данных из словаря final_costs -->
            {% if final_costs %}
            <p><strong>Финальная стоимость:</strong> {{ final_costs[data_row.id]['final_cost'] }}</p>
            {% endif %}

            <form method="post">
                 <!-- дописать автозаполнение заявки в разделе регистрация-->
                <button type="submit" class="select-button">Зарегистировать заявку</button>
            </form>

        </div>
        {% endfor %}
    </div>

<style>
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.gallery-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
}

.gallery-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Webkit browsers */
}

.form-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
}

.form-card h2 {
    margin-top: 0;
}

.form-card p {
    color: #666;
}

.select-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.select-button:hover {
    background-color: #0056b3;
}
</style>

{% endblock %}


