{% extends "main.html" %}
{% block body %}
<style>
    .oll {
        margin-bottom: 20px;
    }

    .print_user {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .container {
        margin: 10px;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .print {
        text-align: left;
        padding: 10px;
        border: 2px solid #86c5da; /* Сине-голубая граница */
        border-radius: 8px;
    }

    .print:hover {
        border-color: #5bc0de; /* Темно-голубая граница при наведении */
    }

    .print h2 {
        margin: 5px 0;
        color: #000000; /* Сине-голубой цвет текста */
    }

    .print h2:first-child {
        margin-top: 0;
    }

    .print h2:last-child {
        margin-bottom: 0;
    }
</style>
<div class="oll">
    <h1 align="center">Все заявки: </h1>
</div>
<div class="print_user">
{% for el in data %}
    <div class="container">
        <div class="card-deck mb-3 text-center">
            {% if el.status == '2' %}
                {% set color_ = "#ffa500" %}
            {% elif el.status == '3' %}
                {% set color_ = "#ffa500" %}
            {% elif el.status == '4' %}
                {% set color_ = "#ffa500" %}
            {% elif el.status == '5' %}
                {% set color_ = "#536d8e" %}
            {% elif el.status == '6' %}
                {% set color_ = "#ffa500" %}
            {% elif el.status == '7' %}
                {% set color_ = "#00ff80" %}
            {% elif el.status == '8' %}
                {% set color_ = "#008000" %}
            {% else %}
                {% set color_ = "red" %}
            {% endif %}
            <div class="print">
                <h2>ID заявки: {{ el.id }}</h2>
                <h2>Стартовые координаты: {{ el.coord_start }}</h2>
                <h2>Координаты конечной точки: {{ el.coord_end }}</h2>
                <h2>Дата начала поездки: {{ el.date_of_start }}</h2>
                <h2>Дата завершения рейса: {{ el.date_of_end }}</h2>
                <h2 style="color: {{ color_ }}; border-bottom: 1px solid black;">Статус заявки:
                {% if el.status == "1" %}
                    Свободна
                {% elif el.status == "2" %}
                    Назначена
                {% elif el.status == "3" %}
                    Прибыла на погрузку
                {% elif el.status == "4" %}
                    Погружена
                {% elif el.status == "5" %}
                    Транзит
                {% elif el.status == "6" %}
                    Прибыла на выгрузку
                {% elif el.status == "7" %}
                    Выгружена
                {% elif el.status == "8" %}
                    Завершение рейса
                {% elif el.status == "9" %}
                    Техническое обслуживание
                {% endif %}
                </h2>
                <h2>Вес груза (в тоннах): {{ el.weight }}</h2>
                <h2>Какая машина доставляет груз: {{ el.car_now }}</h2>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
