{% extends "main.html" %}

{% block head %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        #map {
            position: sticky;
            top: 20px; /* Располагаем карту на уровне надписи "Машины" */
            left: 8%;
            width: 1000px; /* Увеличиваем ширину карты */
            height: 650px; /* Уменьшаем высоту карты */
            z-index: 1; /* Помещаем карту выше других элементов */
        }
        .data-window-container {
            display: flex; /* Выравниваем элементы внутри блока по горизонтали */
        }
        .data-window {
            background-color: white;
            padding: 20px;
            border: 2px solid #0077cc;
            border-radius: 10px;
            margin-right: 20px; /* Отступ справа 5px */
            margin-left: 250px; /* Помещаем блок справа */
            flex: 1; /* Растягиваем блок на всю доступную ширину */
        }
        .car-info {
            border: 1px solid black; /* Добавляем рамку */
            padding: 10px;
            margin-bottom: 10px;
        }
        .car-number {
            color: black; /* Цвет текста черный */
            border: 2px solid black; /* Обводка текста */
            padding: 5px; /* Добавляем отступ */
            display: inline-block; /* Делаем элемент блочным */
            border-radius: 5px; /* Скругляем углы обводки */
        }
    </style>
{% endblock %}

{% block body %}
<div class="data-window-container">
    <div id="map"></div>
    <div class="data-window">
        <h2 class="text-center" style="color: #0077cc;">Машины</h2>
        {% for el in car_print %}
            {% if el.status == '2' %}
                {% set color_ = "#ffa500" %}
            {% elif el.status == '3' %}
                {% set color_ = "#ffa500" %}
            {% elif el.status == '4' %}
                {% set color_ = "#ffa500" %}
            {% elif el.status == '5' %}
                {% set color_ = "#536d8e" %}
            {% elif el.status == '6' %}
                {% set color_ = "#ffa500" %}
            {% elif el.status == '7' %}
                {% set color_ = "#00ff80" %}
            {% elif el.status == '8' %}
                {% set color_ = "#008000" %}
            {% else %}
                {% set color_ = "red" %}
            {% endif %}
            <div class="car-info" style="border: 1px solid black; padding: 10px; margin-bottom: 10px;">
                <p class="car-number" style="color: {{ color_ }}; border-bottom: 1px solid black;">{{ el.car_number }}</p>
                <p class="car-status">
                    Статус:
                {% if el.status == "1" %}
                    Свободна
                {% elif el.status == "2" %}
                    Назначена
                {% elif el.status == "3" %}
                    Прибыла на погрузку
                {% elif el.status == "4" %}
                    Погружена
                {% elif el.status == "5" %}
                    Транзит
                {% elif el.status == "6" %}
                    Прибыла на выгрузку
                {% elif el.status == "7" %}
                    Выгружена
                {% elif el.status == "8" %}
                    Завершение рейса
                {% elif el.status == "9" %}
                    Техническое обслуживание
                {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>
</div>
<script>
    var graph_json = {{ graph_json | safe }};
    Plotly.newPlot('map', graph_json.data, graph_json.layout);
</script>
{% endblock %}
